name: Trivy Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  trivy-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t my-app .

      - name: Run Trivy vulnerability scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'my-app'
          severity: HIGH,CRITICAL
          exit-code: 1
          ignore-unfixed: false
